:root {
	/*   color variables */
	--clr-primary: #0e48fe;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #fafafa;
    --clr-gray150: #fbfbfb;
    --clr-gray200: #f0f0f0;
    --clr-gray300: #dfdfdf;
    --clr-gray400: #818181;
    --clr-gray500: #5a5a5a;
    --clr-gray600: #363636;
    --clr-gray700: rgb(46, 46, 46);
    --clr-notification-hover: #ffebeb;
    --clr-notification: #ffc2c2;
    --clr-notification-dark: #e00000;
	--radius: 0.2rem;
}

body {
	background-color: rgb(22, 22, 22);
	color: white;
	font-family: Mukta, Helvetica, sans-serif;
	
}

.text{
	font-size: 1.2rem;
	font-weight: 200;
	overflow: wrap;
}


.main-content{
	width: 60%;
	height: 100%;
	margin-top: -10px; ;
	margin-left: 40%;
	font-weight: 200;
	bottom: -1%;
	overflow: wrap;
	
}

#rpc_image{
	outline: 0.01px solid rgb(25, 25, 25);
	background: url('https://i.imgur.com/weVZmih.png');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	width: 30vw;
	height: 20vh;
	position: absolute;
	left: 4%;
	top: 25%;
}



#game{
	margin-top: -2%;
	font-size: larger;
	
}

#bold{
	font-weight: bold ;
	font-size: larger;
}

.button_type_1{
	background-color: #2f3241;
	border: 2px solid #2f3241;
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-size: larger;
	font-weight: bold;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	width: 90%;
	top: 30px;
	position: relative;
}

.button_type_1:hover{
	background-color: #50577a;
}

.button_type_1{
	background-color: #2f3241;
	border: 2px solid #2f3241;
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-size: larger;
	font-weight: bold;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	width: 90%;
	top: 30px;
	position: relative;
}

.button_type_1:hover{
	background-color: #50577a;
}



#Time-content {
	width: 100%;
	height: 5px;
	/* background-color: grey; */
	background: linear-gradient(to top,grey,lightgrey);
	border-radius: 1px;
}
  
#TimeBar{
	width: 50%;
	height: 5px;
	/* background-image: linear-gradient(to right,rgb(58, 89, 118),rgb(137, 255, 204));; */
	background-size: 120%;
	background-color: rgb(0, 153, 255);
	/* background-image: linear-gradient(to right,rgb(38, 112, 181),rgb(47, 193, 130));; */
	background-image: linear-gradient(to left,rgb(181, 38, 150),rgb(47, 123, 193));;
	border-radius: 1px;
	/* animation: TimeBar 10s infinite; */
}

/* @keyframes TimeBar{
	0%{
		background-color: rgb(255, 0, 0);
	}
	25%{
		background-color: rgb(21, 255, 0);
	}
	65%{
		background-color: rgb(0, 60, 255);
	}
	100%{
		background-color: rgb(255, 0, 0);
	}
} */



#Time{
	text-align: center;
	border-radius: 1px;
	font-size: larger;
	font-weight: bold;
	top : -10px;
	position: relative;
}