:root {
	/*   color variables */
	--clr-primary: #0e48fe;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #fafafa;
    --clr-gray150: #fbfbfb;
    --clr-gray200: #f0f0f0;
    --clr-gray300: #dfdfdf;
    --clr-gray400: #818181;
    --clr-gray500: #5a5a5a;
    --clr-gray600: #363636;
    --clr-gray700: rgb(46, 46, 46);
    --clr-notification-hover: #ffebeb;
    --clr-notification: #ffc2c2;
    --clr-notification-dark: #e00000;
	--radius: 0.2rem;
}

body {
	background-color: rgb(22, 22, 22);
	color: white;
	font-family: Mukta, Helvetica, sans-serif;
	
}

.text{
	font-size: 1.2rem;
	font-weight: 200;
	overflow: wrap;
}


.main-content{
	width: 100%;
	height: 100%;
	font-weight: 200;
	bottom: -1%;
	overflow: wrap;
	display: flex;
	justify-content: center;
	align-content: center;
}


#game{
	margin-top: -2%;
	font-size: larger;
}

#bold{
	font-weight: bold ;
	font-size: larger;
}

.button_type_1{
	background-color: #2f3241;
	border: 2px solid #2f3241;
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-size: larger;
	font-weight: bold;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	width: 90%;
	top: 30px;
	position: relative;
}

.button_type_1:hover{
	background-color: #50577a;
}

.discord_button2{
	background-color: #2f3241;
	border: 2px solid #2f3241;
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-size: larger;
	font-weight: bold;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	width: 50%;
	top: 30px;
	position: relative;
}

.discord_button2:hover{
	background-color: #50577a;
}


.titlebar { 
	width: 8%;
}
  .titlebar2 {
	width: 92%;
}
  #Exit-button {
	left: 96%;
}


#checkboxs-area{
	right: 20vw;
	width: 35vw;
	height: 20vh;
	background-color: #22242e;
	position: absolute;
}


#checkboxs-area input {
	background-color: #039d69;
	color: #039d69;
	
}


#close_button{
	position: absolute;
	top: 85vh;
}



select {
	width: 22%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #2f3241ee;
	position: absolute;
	left: 20vw;
	color: white;
	font-size: 16px;
  }
#picker_text{
	display: inline;
	position: absolute;
	top: 18vh;
	left: 20vw;
}

#checkbox-help{
	position: absolute;
	top: 16vh;
	left: 31vw;
	
}

#checkbox-help:hover{
	color: rgb(133, 133, 133);
}

#checkbox-help-text{
	position: absolute;
	top: 18vh;
	display: block;
	font-size:medium;
}